# Example environment, copy to `.env` (Used for docker compose)

# Webhook
WEBHOOK_TARGETS=[]
WEBHOOK_ENABLED=false
WEBHOOK_EXCLUDED=[]
WEBHOOK_TIMEOUT=15.0

# Auth
AUTH_METHOD="none"
AUTH_SECRET_KEY=""

# Database
DATABASE_POSTGRES_DSN='postgres://subscriby:subscriby@database:5432/subscriby'

# ----

# Docker compose
PWD="./"
COMPOSE_PROJECT_NAME="subscriby-backend-api"
COMPOSE_EXPOSED_PORT=80

# Process manager (Gunicorn)
PROC_OS_NAME="subscriby-backend-api"
PROC_BIND_HOST="0.0.0.0"
PROC_BIND_PORT=80
PROC_LOG_ACCESS="-"
PROC_LOG_ERROR="-"
PROC_LOG_LEVEL="info"
PROC_LOG_FORMAT='%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"'
PROC_PERF_WORKERS="1  # Set to 0 for auto set by CPU corse"
